<div [formGroup]="inputForm">
    
    <div class="form-group" [ngClass]="{
                'has-feedback': formSubmitted && inputForm.controls[fieldName].errors,
                'has-error': formSubmitted && inputForm.controls[fieldName].errors}">

        <label *ngIf="validationMessages[fieldName]['label']"><span>{{validationMessages[fieldName]['label']}} <span *ngIf="validationMessages[fieldName]['required']">*</span></span></label>
        <input 
            type="password" 
            autocomplete="off" 
            formControlName='{{fieldName}}'  
            maxlength="{{validationLengths[fieldName]['maxlength']}}"
            placeholder="{{validationMessages[fieldName]['placeholder']}}"
            [ngClass]="{'border border-danger': formSubmitted && inputForm.controls[fieldName].errors}"
            class="txt form-control border-2 border-right-0 border-left-0 border-top-0 border-bottom rounded-0 text-secondary pl-0 pb-0">
        
        <span *ngIf="formSubmitted  && inputForm.controls[fieldName].errors" class="help-block text-danger" style="font-size: 9pt">
            <span style="font-size: 9pt" [hidden]="!inputForm.controls[fieldName].errors.required">{{validationMessages[fieldName]['required']}}</span>
            <span style="font-size: 9pt" [hidden]="!inputForm.controls[fieldName].errors.patternInvalid">{{validationMessages[fieldName]['regex']}}</span>
            <span style="font-size: 9pt" [hidden]="!inputForm.controls[fieldName].errors.minlength">{{validationMessages[fieldName]['minlength']}}</span>
            <span style="font-size: 9pt" [hidden]="!inputForm.controls[fieldName].errors.maxlength">{{validationMessages[fieldName]['maxlength']}}</span>
        </span>
    </div>
</div>

