<ngx-loading [show]="loading"></ngx-loading>
<div class= "w-100 h-100">
        <div class="container h-75">
            <div class="p-3 d-flex justify-content-between align-items-center">
                <span class="lead"><b>Perfil del Usuario</b></span>
            </div>

            <div class="bg-white shadow">
                <table class="table">
                    <tr>
                        <td><b>Usuario</b></td>
                        <td class="text-right">{{ currentUser["email"] }}</td>
                    </tr>
                    <tr>
                        <td><b>Registrado desde</b></td>
                        <td class="text-right">{{ showDate(currentUser["date"]) }}</td>
                    </tr>
                    <tr>
                        <td><b>Rol</b></td>
                        <td class="text-right">{{ showRol(currentUser["role"]) }}</td>
                    </tr>
                    <tr>
                        <td><b>Estado</b></td>
                        <td class="text-right">{{ showState(currentUser["state"]) }}</td>
                    </tr>
                    <tr>
                        <td><b>Id del usuario</b></td>
                        <td class="text-right">{{ currentUser["ID"] }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
