<div style="padding-right:15px;" class="container-fluid">


    <!-- Formulario -->
    <div class="row">
        <div class="col">

  
          <!-- Separador -->
          <div class="row">
            <div class="col">
              <hr>
            </div>
          </div>
  
  
          <!-- Grid de configuraciones -->
          <div class="row" formArrayName="configurations">
            <div class="col-12" *ngFor="let group of configurationsArray.controls; let i = index;" [formGroupName]="i">
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-8">
                      <h4>Configuración {{i+1}}</h4>
                    </div>
                    <div class="col-4 control-buttons">
                      <img src="/assets/img/icons/add.svg" alt="" (click)="addConfiguration()">
                      <img src="/assets/img/icons/remove.svg" alt="" width="24" height="24" (click)="removeConfiguration(i)">
                    </div>
                  </div>
                  <hr>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label for="addText">Horometro</label>
                    <input type="text" formControlName="horometer" placeholder="Ingresa horómetro">
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="hours">Horas</label>
                        <input type="text" formControlName="hours" placeholder="Ingresa horas">
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="distance">Distancia</label>
                        <select id="inputDistance" formControlName="distance">
                          <option selected [ngValue]="null">Seleccionar...</option>
                          <option *ngFor="let item of distances" [value]="item">{{item}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
  </div>